      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        position: relative;
      }

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;

      }

      #map {
        flex: 1;
      }

      #bigcontainer {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
      }

      #header .form-group {
        margin: 0;
      }

      .gm-style-iw {
        max-width: 250px;
      }

      .gm-style-iw div {
        overflow-x: hidden;
      }

      #iw-container h6 {
        margin: px 0;
      }

      #iw-container .container {
        padding: 0;
      }

      #iw-container dt {
        padding-right: 0;
      }

      #iw-container .row {
        margin-bottom: 6px;
        /*border-bottom: 1px solid rgba(0,0,0,.1); */ 
        border-bottom: 1px solid #a21b1f; 
      }

      .scrollmenu {
          background-color: #0f4583;
          border-bottom: 5px solid #a21b1f;  
          overflow: none;
          white-space: nowrap;
          margin: 0;
          padding: 0 5px;
      }

      .scrollmenu li {
          display: inline-block;
          padding: 3px 8px;
          border-bottom: 3px solid transparent;
      }

      .scrollmenu li a {
          color: white;
          text-decoration: none;
      }

      .scrollmenu li:hover {
          border-bottom: 3px solid white;
      }      

      .scrollmenu li.active {
          border-bottom: 3px solid white;
      }

      /* width */
      ::-webkit-scrollbar {
          height: 3px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
          background: #888; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
          background: #f1f1f1; 
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
          background: #555; 
      }

      .pac-item {
        padding: 2px 0;
      }

      #share-button {
        margin-top: 5px;
        width: 100%;
        text-align: center;
      }

      #share-button a {
        width: 30px;
          height: 30px;
          display: inline-block;
          margin: 0 4px;
/*          border-radius: 50%;*/
          font-size: 20px;
          color: #fff;
/*        opacity: 0.75;*/
        transition: opacity 0.15s linear;
      }

      #share-button a:hover {
        opacity: 0.5;
      }

      /* icons */

      #share-button i {
          position: relative;
          top: 47%;
          transform: translateY(-50%);
      }

      /* colors */

      .whatsapp {
        background: #00e676;
      }

      .facebook {
        background: #3b5998;
      }

      .twitter {
        background: #55acee;
      }

      .telegram {
        background: #0088cc;
      }
      .copy {
        background: #666666;
      }




/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #0f4583; /* Black fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.2s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 30px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}